
.title{
    white-space: normal;
    font-weight: bold;
    color: blue;
    font-size: 20px;
  }

.score{
    content: '*';
    white-space: normal;
    font-weight: bold;
    color: gray;
    display: inline-block;
    background-repeat: round;
    vertical-align: middle;
  }

.priceNormal{
    white-space: normal;
    font-size: 12px;
    color: darkred;
  }

.priceSale{
    white-space: normal;
    font-size: 12px;
    color: green;
  }

.circle {
  margin-left: 1em;
  margin-right: 1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  font-size: 1em;
  color: #fff;
  line-height: 1.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.circle.good{
background: lawngreen;
}
.circle.meh{
background: yellow;
}
.circle.oof{
background: orange;
}
.circle.bad{
background: red;
}
