.title {
  white-space: normal;
  font-weight: normal;
  color: white;
  font-size: 20px;
  padding-left: 6px;
}

.main-image {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 200px;
}

.score {
  content: "*";
  white-space: normal;
  font-weight: bold;
  color: gray;
  display: inline-block;
  background-repeat: round;
  vertical-align: middle;
}

.circle {
  background: gainsboro;
  margin-left: 1.1em;
  margin-right: 1.1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.1em;
  font-size: 1em;
  color: #fff;
  line-height: 1.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.circle.good {
  background: lawngreen;
}
.circle.meh {
  background: yellow;
}
.circle.oof {
  background: orange;
}
.circle.bad {
  background: red;
}

.rating-label {
  content: "*";
  white-space: normal;
  font-weight: bold;
  color: gray;
  text-align: center;
}

.rating {
  content: "*";
  white-space: normal;
  font-weight: bold;
  color: gray;
  text-align: center;
  font-size: xx-large;
}

.rating.best {
  color: green;
}

.rating.average {
  color: orange;
}

.rating.worst {
  color: red;
}

.priceNormal {
  white-space: normal;
  color: darkred;
  font-size: large;
  text-align: center;
}

.priceSale {
  white-space: normal;
  color: green;
  font-size: x-large;
  text-align: center;
}

.pricetag {
  white-space: nowrap;
  position: relative;
  margin: 0 5px 0 10px;
  display: inline-block;
  height: 25px;
  border-radius: 0 5px 5px 0;
  padding: 0 5px 0 5px;
  background: #2cc934;
  border-top-width: 1px;
  border-bottom-width: 1px;
  color: #fff;
  line-height: 23px;
}

.pricetag:before {
  position: absolute;
  content: "\25CF";
  color: white;
  text-shadow: 0 0 1px #333;
  font-size: 11px;
  line-height: 0px;
  text-indent: 12px;
  left: -15px;
  width: 1px;
  height: 0px;
  border-right: 14px solid #2cc934;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.dealRating.best i {
  content: "*";
  width: 4em;
  height: 4em;
  background-image: url("/assets/imgs/sp3.png");
  display: inline-block;
  background-repeat: round;
  vertical-align: middle;
}

.dealRating.average i {
  content: "*";
  width: 4em;
  height: 4em;
  background-image: url("/assets/imgs/sp2.png");
  display: inline-block;
  background-repeat: round;
  vertical-align: middle;
}

.dealRating.worst i {
  content: "*";
  width: 4em;
  height: 4em;
  background-image: url("/assets/imgs/sp1.png");
  display: inline-block;
  background-repeat: round;
  vertical-align: middle;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-whatsapp {
  background: #25d366;
  color: white;
}

.fa-general {
  background: #a4c639;
  color: white;
}

.a{
  font-weight: normal;
  font-size: 30px;
  background-color: #0f53ba00;
  color: #0f53ba;
}

.b{
  font-weight: normal;
  font-size: 25px;
  background-color: #0f53ba80;
  color: white;
}

.c{
  font-weight: normal;
  font-size: 20px;
  background-color: #0f53ba;
  color: white;
} 

.game-name{
  font-weight: normal;
  font-size: 20px;
  background-color: var(--ion-color-primary);
  color: white;
  height: 56px;
}

ion-item {
  --ion-background-color: var(--ion-color-light) !important;
}