
<ion-header>
  <!--ion-item-divider class="title" color="primary" sticky [ngClass]="{'a' : deepScroll == 0,'b' : deepScroll == 1,'c' : deepScroll == 2}"-->
  <ion-item-divider class="title" color="primary" sticky class="game-name">
    <ion-buttons style="width: 100%;">
      <ion-label class="ion-text-wrap" style="width: 100%;">
        {{gameDetail.name_original}}
      </ion-label>
      <ion-button (click)="dismiss()" slot="end">
        <ion-icon style="color: white;" name="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item-divider>
</ion-header>
 
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" style="background-color: var(--ion-color-light);">
  <ion-list style="background-color: var(--ion-color-light);">
    <ion-img class="main-image" src="{{gameDetail.background_image}}" style="background-color: var(--ion-color-light);"></ion-img>
    <ion-item lines="none"
      *ngIf="gameDetail.metacritic !== null && gameDetail.metacritic !== undefined && gameDetail.metacritic !== ''">
      <ion-label class="score">Metacritic score: <span class="circle" [ngClass]="{'bad': gameDetail.metacritic >= 0 && gameDetail.metacritic < 50,
       'oof': gameDetail.metacritic >= 50 && gameDetail.metacritic < 65, 'meh': gameDetail.metacritic >= 65 && gameDetail.metacritic < 75,
       'good': gameDetail.metacritic >= 75}"> {{gameDetail.metacritic}}
        </span></ion-label>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="rating-label" >Price: </ion-label>
            <ion-label class="priceNormal "><s>{{deal.normalPrice}} USD</s></ion-label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="priceSale ">{{deal.salePrice}} USD</ion-label>
          </ion-col>
          <ion-col>
            <div class="pricetag" *ngIf="deal.isOnSale==1">{{getDiscount(deal.savings)}}%</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="rating-label" >Deal Rate: </ion-label>
            <ion-label class="rating" 
            [ngClass]="{'worst': deal.dealRating >= 0 && deal.dealRating < 5, 'average': deal.dealRating >= 5 && deal.dealRating < 9, 'best': deal.dealRating >= 9}">{{deal.dealRating}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="rating-label">
              <p class="dealRating"
                [ngClass]="{'worst': deal.dealRating >= 0 && deal.dealRating < 5, 'average': deal.dealRating >= 5 && deal.dealRating < 9, 'best': deal.dealRating >= 9}">
                <i></i>
              </p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label class="rating-label" >Deal Link: </ion-label>
            <ion-button (click)="openDealURL(deal.dealID)" style="height: 60px;" color="medium">
              <ion-img [src]="getStoreImg(deal.storeID)"></ion-img></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center;">
            <button ion-button (click)="share(deal.dealID)" style="background-color: var(--ion-color-light);">
              <ion-icon style="color: white;" name="md-share" class="fa fa-general" style="width: 20px; height: 20px;"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="white-space: normal;" [innerHTML]="gameDetail.description"></ion-label>
    </ion-item>
  </ion-list>
</ion-content>