<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
    <ion-title>
      {{storeName}} Deals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: var(--ion-color-light);">
    <ion-list style="background-color: var(--ion-color-light);">
      <ion-item *ngFor="let deal of deals" (click)="searchDetail(deal)">
        <div style="margin: 8px;">
          <ion-label class="title">{{deal.title}}</ion-label>
          <br>
          <ion-label class="priceNormal">Normal Price {{deal.normalPrice}}</ion-label>
          <ion-label class="priceSale">Sale Price {{deal.salePrice}}</ion-label>
          <ion-label class="ratingDiv">
              <p class="dealRating" [ngClass]="{'worst': deal.dealRating >= 0 && deal.dealRating < 5, 'average': deal.dealRating >= 5 && deal.dealRating < 9, 'best': deal.dealRating >= 9}">Deal Rating: {{deal.dealRating}}
              <i></i>
          </p></ion-label>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

