
.main-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 200px;
  }

  .search-bar{
    background-color: var(--ion-color-light); 
    margin: 0px; 
    padding: 0px; 
    border-radius: 8px;
  }


  ion-item {
    --ion-background-color: transparent;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-start: 0px;
  }
  
  ion-card {
    background-color: #fff;
  }