<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title style="margin-top: 6px;">
      How Long To Beat
    </ion-title>
    <ion-item style="margin-left: 6px; margin-right: 6px; margin-top: 6px; margin-bottom: 6px; border-radius: 8px;">
      <ion-searchbar animated placeholder="Search" [(ngModel)]="searchTerm" (search)="onSearch()" (keyup.enter)="onSearch()"
    (ionClear)="onClear()" class="search-bar"></ion-searchbar> 
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item *ngFor="let game of games" lines="none"> 
    <ion-card mode="md" style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{game.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="width: 100%;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="{{game.imageUrl}}"></ion-img>
            </ion-col>
            <ion-col>
              <ion-label>Main Story: {{game.gameplayMain}} hrs</ion-label>
              <ion-label>Main + Extra: {{game.gameplayMainExtra}} hrs</ion-label>
              <ion-label>Completionist: {{game.gameplayCompletionist}} hrs</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
  </ion-item>
</ion-content>