<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search" style="background-color: var(--ion-color-stone-normal);">
      <ion-icon name="search"></ion-icon>
      <ion-label>Deals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stores" style="background-color: var(--ion-color-stone-normal);">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>Stores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="duration" style="background-color: var(--ion-color-stone-normal);">
      <ion-icon name="timer"></ion-icon>
      <ion-label>TimeToBeat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 