<ion-item>
    <ion-label>Sort By</ion-label>
</ion-item>

<ion-item>
    <ion-select [(ngModel)]="sortBy" style="max-width: 100% !important;">
        <ion-select-option value="Deal Rating">Deal Rating</ion-select-option>
        <ion-select-option value="Savings">Savings</ion-select-option>
        <ion-select-option value="Price">Price</ion-select-option>
        <ion-select-option value="Release">Release</ion-select-option>
        <ion-select-option value="recent">recent</ion-select-option>
    </ion-select>
</ion-item>

<ion-button color="success" (click)="dismiss()">Apply</ion-button>