<ion-item>
    <ion-label>Only show deals?</ion-label>
    <ion-select [(ngModel)]="onSale">
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
    </ion-select>
</ion-item>

<ion-item>
    <ion-label>Sort By</ion-label>
    <ion-select [(ngModel)]="sortBy">
        <ion-select-option value="Deal Rating">Deal Rating</ion-select-option>
        <ion-select-option value="Savings">Savings</ion-select-option>
        <ion-select-option value="Price">Price</ion-select-option>
        <ion-select-option value="Release">Release</ion-select-option>
        <ion-select-option value="recent">recent</ion-select-option>
    </ion-select>
</ion-item>

<ion-button color="success" (click)="dismiss()">Apply</ion-button>
