<ion-header>
  <ion-toolbar class="toolbar">
    <ion-item style="margin-left: 6px; margin-right: 6px;">
      <ion-searchbar animated placeholder="Search" [(ngModel)]="searchTerm" (search)="onSearch()"
        (keyup.enter)="onSearch()" (ionClear)="onClear()" class="search-bar"></ion-searchbar>
      <ion-button end (click)="presentFilterPopover($event)">
        <ion-icon name="md-funnel"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content id="listScroll" [scrollEvents]="true" (ionScroll)="logScrolling($event)" color="light">
  <div [ngClass]="{'background-rainbow' : rainbowService.isTurnOn() }">
    <ion-img class="logo" *ngIf="this.games.length === 0 && fail === false" src="assets/wagon_full.png"></ion-img>
    <ion-list style="background: transparent !important;">

      <ion-item *ngFor="let game of games" lines="none" (click)="searchDetail(game)">
        <ion-card mode="md" style="width: 100%;">
          <ion-card-header>
            <ion-card-title>{{game.title}}</ion-card-title>
            <ion-card-subtitle>On {{getStoreName(game.storeID)}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-label class="priceNormal"><s>{{game.normalPrice}}</s></ion-label>
            <ion-label class="priceSale">{{game.salePrice}} <span class="pricetag"
                *ngIf="game.isOnSale==1">{{getDiscount(game.savings)}}%</span></ion-label>
            <div class="ratingDiv">
              <ion-label>Deal Rating:</ion-label>
              <p class="dealRating"
                [ngClass]="{'worst': game.dealRating >= 0 && game.dealRating < 5, 'average': game.dealRating >= 5 && game.dealRating < 9, 'best': game.dealRating >= 9}">
                {{game.dealRating}}
                <i></i>
              </p>
            </div>
          </ion-card-content>

        </ion-card>
      </ion-item>

    </ion-list>
    <ion-list *ngIf="isKeyWord() && fail" style="background: transparent !important;">

      <ion-item lines="none" (click)="rainbowService.toggle()">
        <ion-card mode="md" style="width: 100%;">
          <ion-card-header>
            <ion-card-title>Rainbow Mode</ion-card-title>
            <ion-card-subtitle>Bonus Feature</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-label [hidden]="rainbowService.isTurnOn()">Click to turn on</ion-label>
            <ion-label [hidden]="!rainbowService.isTurnOn()">Click to turn off</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-list>
  </div>
  <ion-fab *ngIf="deepScroll" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="scrollToTop()">
      <ion-icon name="md-arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
