
.title{
    white-space: normal;
    color: gray;
    font-weight: bold;
    font-size: large;
  }

.deal-on{
    white-space: normal;
    color: gray;
  }  

.priceNormal{
    white-space: normal;
    color: darkred;
  }

.priceSale{
    white-space: normal;
    color: green;
  }